/*
Theme Name: Boys and Girls Club
Author: Winter Animosus, Manuel, Kizzy, Jessica
Description: Boys and Girls Club website Theme
Version: 0.0.1
*/

/* ALL *//* ALL *//* ALL *//* ALL *//* ALL *//* ALL *//* ALL *//* ALL */
*
{
    margin: 0;
    padding: 0;
}
    /* HTML *//* HTML *//* HTML *//* HTML *//* HTML *//* HTML *//* HTML */
    html
    {
        height: 100%;
    }
        /* body *//* body *//* body *//* body *//* body *//* body *//* body */
        body
        {
            display: grid;
            grid-template: repeat(11, 1fr) auto / repeat(12, 1fr);
            height: 100%;
            background: rgba(83, 102, 83, 0.5);
        }
            /* header *//* header *//* header *//* header *//* header *//* header */
                header
                {
                    grid-column: 1/13;
                    grid-row: 1/2;
                    display: grid;
                    grid-template: auto auto / repeat(12, 1fr);
                    background: lightblue;
                    height: 2.7em;
                    margin-bottom: 2em;
                    transition: padding 1s;
                    position: absolute;
                }
                header:hover
                {
                    padding-top: 2em;
                }
                /* logo *//* logo *//* logo *//* logo *//* logo *//* logo *//* logo */
                div#logo
                {
                    grid-column: 2/4;
                    margin-top: -0.5em;
                }
                div#logo img
                {
                    position: relative;
                    transform: rotate(-7.5deg);
                    width: 150%;
                }
                /* [LOGO] *//* [LOGO] *//* [LOGO] *//* [LOGO] *//* [LOGO] *//* [LOGO] */
                /* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */
                div.menu-top-menu-container
                {
                    text-align: center;
                    grid-column: 6/13;
                    grid-row: 2/3;
                }
                    div.menu-top-menu-container ul
                    {
                        display: flex;
                        list-style: none;
                        justify-content: flex-end
                    }
                        div.menu-top-menu-container ul li
                        {
                            /* margin-left: 1em; */
                        }
                            div.menu-top-menu-container ul li a
                            {
                                display: block;
                                padding: 0.75em;
                                /* border-left: 1px solid slategray; */
                                text-decoration: none;
                                margin-top: -2.9em;
                                z-index: 1;
                                color: white;
                                font-weight: bold;
                                font-size: 1.2em;
                            }
                            div.menu-top-menu-container ul li a:hover
                            {
                                color: black;

                            }
                            div.menu-top-menu-container ul li#menu-item-60 a
                            {
                                border-radius: 5px 0 0 5px;
                                border:none;
                            }
                            div.menu-top-menu-container ul li#menu-item-94 a
                            {
                                position: relative;
                                border-radius: 0 0px 15px 15px;
                                background: #d83f3f;
                                padding: 7.3em 0.8em 0.7em 0.8em;
                                margin-top: -5em;
                                margin-right: 0.4em;
                                display: block;
                                transition: padding 1s;
                                top: 0;
                            }
                            div.menu-top-menu-container ul li#menu-item-94 a:after
                            {
                                position: absolute;
                                content: 'vvvvv';
                                font-size: 35px;
                                -webkit-text-stroke: 10px #d83f3f;
                                bottom:-15px;
                                left:0;
                                width: 100%;
                                overflow:hidden;
                            }
                            div.menu-top-menu-container ul li#menu-item-94 a:hover
                            {
                                padding: 8em 0.8em 1em 0.8em;
                            }
                div#translate
                {
                    text-align: center;
                    grid-column: 11/12;
                    grid-row: 1/2;
                }
                    div#translate ul
                    {
                        display: flex;
                        list-style: none;
                        justify-content: flex-end
                    }
                        div#translate ul li a
                        {
                            display: block;
                            padding: 0.75em;
                            /* border-left: 1px solid slategray; */
                            text-decoration: none;
                            margin-top: -2em;
                            z-index: 1;
                            color: white;
                            font-weight: bold;
                            font-size: 1.2em;
                        }
                            div#translate ul li a:hover
                            {
                                color: black;

                            }
                /* [NAV] *//* [NAV] *//* [NAV] *//* [NAV] *//* [NAV] *//* [NAV] */
            /* [HEADER] *//* [HEADER] *//* [HEADER] *//* [HEADER] *//* [HEADER] */
            /* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
            main
            {
                grid-column: 1/13;
                grid-row: 2/12;
                display: grid;
                grid-template: repeat(12,1fr)/repeat(12,1fr);
            }
                /* Content *//* Content *//* Content *//* Content *//* Content *//* Content */
                    div.content1
                    {
                        grid-column: 3/12;
                        grid-row: 1/11;
                        /* background: slateblue; */
                        display: grid;
                        grid-template: repeat(12,1fr)/repeat(12,1fr);
                    }
                    div.content2
                    {
                        grid-column: 1/13;
                        grid-row: 1/11;
                        /* background: slateblue; */
                        display: grid;
                        grid-template: repeat(12,1fr)/repeat(12,1fr);
                        padding: 1em;
                    }
                        /* Inside content *//* Inside content *//* Inside content */
                        div#TopLeftHome
                        {
                            grid-column: 2/7;
                            grid-row: 2/6;
                            display: block;
                            background: wheat;
                            border-radius: 1em;
                            margin-right: 0.5em;
                        }
                        div#TopRightHome
                        {
                            grid-column: 7/12;
                            grid-row: 2/6;
                            display: block;
                            background: wheat;
                            border-radius: 1em;
                            margin-left: 0.5em;
                            text-align: right;
                        }
                        div#BottomHome
                        {
                            grid-column: 2/12;
                            grid-row: 7/12;
                            display: block;
                            background: wheat;
                            border-radius: 1em;
                        }
                        /* [INSIDE CONTENT] *//* [INSIDE CONTENT] *//* [INSIDE CONTENT] */
                /* [CONTENT] *//* [CONTENT] *//* [CONTENT] *//* [CONTENT] *//* [CONTENT] */
                /* Notice *//* Notice *//* Notice *//* Notice *//* Notice *//* Notice */
                    div.alert
                    {
                        grid-column: 1/3;
                        grid-row: 3/9;
                        background: rgb(255, 196, 0);
                        display: block;
                        border-radius: 25px;
                        border: 2px solid black;
                    }
                    div.alert p
                    {
                        padding: 0.25em;
                    }

                /* [NOTICE] *//* [NOTICE] *//* [NOTICE] *//* [NOTICE] *//* [NOTICE] */
            /* [MAIN] *//* [MAIN] *//* [MAIN] *//* [MAIN] *//* [MAIN] *//* [MAIN] */
            /* Sponsers *//* Sponsers *//* Sponsers *//* Sponsers *//* Sponsers */
                button#hide
                {
                    background: rgba(83, 102, 83, 0.5);
                    border: none;
                    cursor: pointer;
                    grid-column: 12/13;
                    grid-row: 10/11;
                    text-align: center;
                    width: 5em;
                    height: 2em;
                    padding: 0.5em;
                    margin-top:2.1em;
                }
                i 
                {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                }
                .up
                {
                    transform: rotate(-135deg);
                }
                .down
                {
                    transform: rotate(45deg);
                
                }
                main div.sliding
                {
                    grid-column: 1/13;
                    grid-row:11/13;
                    display: flex;
                    background: white;
                    overflow:hidden;
                }
                    main div.sliding img
                    {
                        width: 10em;
                        position: relative;
                        animation-name: slide;
                        animation-duration: 40s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        animation-direction: alternate;
                    }
                        @keyframes slide
                        {
                            0% {left:0;}
                            100% {left:-56%;}
                        }
                        main div.sliding:hover img
                        {
                            animation-play-state: paused;
                        }

            /* [SPONSERS] *//* [SPONSERS] *//* [SPONSERS] *//* [SPONSERS] */
            /* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
            footer
            {
                background: darkolivegreen;
                padding: 0.25em;
                text-align: center;
                color: white;
                display: block;
                grid-column: 1/13;
                grid-row: 12/13;
            }
            footer p
            {
                margin: 0;
            }

            /* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] */
        /* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] */
    /* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] */
/* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] */