/*
Theme Name: Boys and Girls Club
Author: Winter Animosus, Manuel, Kizzy, Jessica
Description: Boys and Girls Club website Theme
Version: 0.0.1
*/

/* ALL *//* ALL *//* ALL *//* ALL *//* ALL *//* ALL *//* ALL *//* ALL */
*
{
    margin: 0;
    padding: 0;
}
    /* HTML *//* HTML *//* HTML *//* HTML *//* HTML *//* HTML *//* HTML */
    html
    {
        height: 100%;
        font-family:Arial, Helvetica, sans-serif;
        /* background: url('../../uploads/2019/01/preschool_graduation_2018_20.jpg');
        background-size: cover; */
        background: whitesmoke;
    }
        /* body *//* body *//* body *//* body *//* body *//* body *//* body */
        body
        {
            display: grid;
            grid-template: repeat(11, 1fr) auto / repeat(12, 1fr);
            min-height: 100%;
            /* background:rgba(255, 255, 255, 0.9); */
        }
            /* header *//* header *//* header *//* header *//* header *//* header */
                header
                {
                    grid-column: 1/13;
                    grid-row: 1/2;
                    display: grid;
                    grid-template: auto auto / repeat(12, 1fr);
                    background:#66cc00;
                    height: 2.7rem;
                    margin-bottom: 2rem;
                    transition: padding 1s;
                    position: absolute;
                    width: 100%;
                }
                header:hover
                {
                    padding-top: 2rem;
                }
                /* logo *//* logo *//* logo *//* logo *//* logo *//* logo *//* logo */
                div#logo
                {
                    grid-column: 2/4;
                    margin-top: -0.5rem;
                    height: 3.892rem;
                    box-shadow: 0px 14px 26px 0px rgba(0,0,0,0.49);
                    display: block;
                    width: 24rem;
                    border-radius: 0 0 1rem 1rem;
                }
                div#logo img
                {
                    position: relative;
                    /* transform: rotate(-7.5deg); */
                    width: 23.738rem;
                    background:white;
                    padding: 0.25rem;
                    border-radius: 0 0 1rem 1rem;
                    
                }
                /* [LOGO] *//* [LOGO] *//* [LOGO] *//* [LOGO] *//* [LOGO] *//* [LOGO] */
                /* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */
                div.menu-top-menu-container
                {
                    /* text-align: center; */
                    grid-column: 6/13;
                    grid-row: 2/3;
                    /* overflow:hidden; */
                }
                    div.menu-top-menu-container ul
                    { 
                        display: grid;
                        grid-template: auto auto / repeat(7, auto);
                        list-style: none;
                        justify-content: flex-end
                    }
                        div.menu-top-menu-container ul li 
                        {
                            grid-column: auto;
                            grid-row: 1/2;
                        }
                        div.menu-top-menu-container ul li ul{
                            display:none;
                            position: relative;
                            /* min-width: 160px; */
                            margin-top: -.7em;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            background-color:#6c0;
                            /* margin:1rem; */
                            /* padding: 4rem; */
                            z-index: 1;
                        }
                        div.menu-top-menu-container ul li ul li{
                            margin-bottom: .35rem;
                        }
                        div.menu-top-menu-container ul li ul li a{
                            display: initial;
                        }
                        div.menu-top-menu-container ul li:hover ul{
                            display:inline-block;
                            position: absolute;                           
                        }
                        
                            div.menu-top-menu-container ul li a
                            {
                                display: block;
                                padding: 0.75rem;
                                /* border-left: 1px solid slategray; */
                                text-decoration: none;
                                margin-top: -2.9rem;
                                z-index: 1;
                                color: white;
                                font-weight: bold;
                                font-size: 1.2rem;
                                /* padding-bottom: 0rem; */
                            }
                            div.menu-top-menu-container ul li a:hover
                            {
                                color: black;

                            }
                            div.menu-top-menu-container ul li#menu-item-60 a
                            {
                                border-radius: 5px 0 0 5px;
                                border:none;
                            }
                        div.menu-top-menu-container ul li#menu-item-94
                        {
                            grid-row: 1/3;
                        }
                            div.menu-top-menu-container ul li#menu-item-94 a
                            {
                                position: relative;
                                border-radius: 0 0px 15px 15px;
                                background: #d83f3f;
                                padding: 3.8rem 0.822rem 0.8rem 0.81rem;
                                margin-top: -6rem;
                                margin-right: 0.4rem;
                                display: block;
                                transition: padding 1s;
                                top: 0;
                            }
                            div.menu-top-menu-container ul li#menu-item-94::after{
                                /* content:url('/bgc/wp-content/uploads/2018/12/Untitled-Diagram.png'); */
                                top:-1rem;
                                position: relative;
                                left: -0.040039056rem;
                                width: 100%;
                            }
                            div.menu-top-menu-container ul li#menu-item-94 a:hover
                            {
                                padding: 6.5rem 0.8rem 1.5rem 0.8rem;
                            }
                div#translate
                {
                    text-align: center;
                    grid-column: 11/12;
                    grid-row: 1/2;
                }
                    div#translate ul
                    {
                        display: flex;
                        list-style: none;
                        justify-content: flex-end
                    }
                        div#translate ul li a
                        {
                            display: block;
                            padding: 0.75rem;
                            /* border-left: 1px solid slategray; */
                            text-decoration: none;
                            margin-top: -2rem;
                            z-index: 1;
                            color: white;
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                            div#translate ul li a:hover
                            {
                                color: black;

                            }
                /* [NAV] *//* [NAV] *//* [NAV] *//* [NAV] *//* [NAV] *//* [NAV] */
            /* [HEADER] *//* [HEADER] *//* [HEADER] *//* [HEADER] *//* [HEADER] */
            /* Main *//* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
            main
            {
                grid-column: 1/13;
                grid-row: 2/12;
                display: grid;
                grid-template: repeat(10,1fr) auto auto/repeat(12,1fr);
            }
                /* Content *//* Content *//* Content *//* Content *//* Content *//* Content */
                    div.content1
                    {
                        grid-column: 3/13;
                        grid-row: 1/11;
                        /* background: slateblue; */
                        display: grid;
                        grid-template: repeat(9,1fr)/repeat(12,1fr);
                    }
                    div.content2
                    {
                        grid-column: 1/13;
                        grid-row: 1/11;
                        /* background: slateblue; */
                        display: grid;
                        grid-template: repeat(9,1fr)/repeat(12,1fr);
                        padding: 1rem;
                    }
                    div.content3
                    {
                        grid-column: 1/13;
                        grid-row: 1/13;
                        display: grid;
                        grid-template: repeat(9,1fr)/repeat(12,1fr);
                        padding: 0.5rem;
                    }
                        /* Inside content *//* Inside content *//* Inside content */
                        div#TopLeftHome
                        {
                            grid-column: 2/7;
                            grid-row: 2/5;
                            display: block;
                            background:rgb(240, 240, 240);
                            border-radius: 1rem;
                            margin-right: 0.5rem;
                        }
                        div#TopRightHome
                        {
                            grid-column: 7/12;
                            grid-row: 2/6;
                            display: block;
                            /* background: wheat; */
                            border-radius: 1rem;
                            margin-left: 0.5rem;
                            text-align: right;
                            /* background:rgb(212, 211, 211); */
                        }
                            div#metaslider_117
                            {
                                border-radius: 1rem;
                            }
                        div#BottomHome
                        {
                            grid-column: 2/12;
                            grid-row: 6/9;
                            display: block;
                            background:rgb(240, 240, 240);
                            border-radius: 1rem;
                        }
                        div#join
                        {
                            grid-column: 2/12;
                            grid-row: 1/12;
                            display: block;
                            background: white;
                            border-radius: 1rem;
                            margin-right: 0.5rem;
                            margin-top: 1.5rem;
                        }
                            /* P of JOIN *//* P of JOIN *//* P of JOIN *//* P of JOIN */
                                div#join p, div#join h3
                                {
                                    margin: 1rem 0 0.5rem 1rem;
                                }
                            /* [P of JOIN] *//* [P of JOIN] *//* [P of JOIN] *//* [P of JOIN] */
                        /* [INSIDE CONTENT] *//* [INSIDE CONTENT] *//* [INSIDE CONTENT] */
                /* [CONTENT] *//* [CONTENT] *//* [CONTENT] *//* [CONTENT] *//* [CONTENT] */
                /* Notice *//* Notice *//* Notice *//* Notice *//* Notice *//* Notice */
                    div.alert
                    {
                        grid-column: 1/3;
                        grid-row: 2/7;
                        background:#d94040;
                        display: block;
                        border-radius: 25px;
                        /* border: 2px solid black; */
                    }
                    div.alert p
                    {
                        padding: 0.25rem;
                    }

                /* [NOTICE] *//* [NOTICE] *//* [NOTICE] *//* [NOTICE] *//* [NOTICE] */
            /* [MAIN] *//* [MAIN] *//* [MAIN] *//* [MAIN] *//* [MAIN] *//* [MAIN] */
            /* Sponsers *//* Sponsers *//* Sponsers *//* Sponsers *//* Sponsers */
                button#hide
                {
                    background: rgba(83, 102, 83, 0.5);
                    border: none;
                    cursor: pointer;
                    grid-column: 12/13;
                    grid-row: 11/12;
                    text-align: center;
                    width: 5rem;
                    height: 2rem;
                    padding: 0.5rem;
                    margin-top:-2rem;
                    position: relative;
                }
                i 
                {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                }
                .up
                {
                    transform: rotate(-135deg);
                }
                .down
                {
                    transform: rotate(45deg);
                
                }
                main div.sliding
                {
                    grid-column: 1/13;
                    grid-row:11/12;
                    display: flex;
                    background: white;
                    overflow:hidden;
                }
                    main div.sliding img
                    {
                        height: 7.2rem;
                        position: relative;
                        animation-name: slide;
                        animation-duration: 40s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        animation-direction: alternate;
                    }
                        @keyframes slide
                        {
                            0% {left:0;}
                            100% {left:-56%;}
                        }
                        main div.sliding:hover img
                        {
                            animation-play-state: paused;
                        }

            /* [SPONSERS] *//* [SPONSERS] *//* [SPONSERS] *//* [SPONSERS] */
            /* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
            footer
            {
                background:#66cc00;
                padding: 0.25rem;
                text-align: center;
                color: white;
                display: block;
                grid-column: 1/13;
                grid-row: 12/13;
            }
            footer p
            {
                margin: 0;
            }

            /* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] *//* [FOOTER] */
        /* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] *//* [BODY] */
    /* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] *//* [HTML] */
/* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] *//* [ALL] */